/**
 * components/_alerts.scss
 */

/* ==========================================================================
   Alerts
   ========================================================================== */

//use !important to overwrite Toaster default properties

.alert {
  text-transform: uppercase;
  padding: $padding-md !important;
  line-height: $font-xl !important;

  .action {
    font-size: ($font-md * 2) !important;
    color: $color-white !important;

    &:hover {
      text-decoration: none !important;
    }
  }

  ul{
    margin-bottom: 0;

    li:not(:last-child){
      margin-bottom: $margin-md;
      letter-spacing: 1px;
    }
  }

  @include modifier('info') {

  }

  @include modifier('warning') {
    color: $color-white;
    background: $color-brand-warning !important;
  }

  @include modifier('error') {
    color: $color-white;
    background: $color-brand-danger !important;
  }

  @include modifier('success') {
    color: $color-white;
    background: $color-brand-success !important;
  }
}
