/**
 * components/_category-picker.scss
 */

/* ==========================================================================
   Category picker
   ========================================================================== */

.category-picker {
  display: flex;
  align-items: center;
  justify-content: center;
}
