.comments {
  background-color: $color-gray-lighter;
  margin: 0 (-$margin-lg);
  padding: $padding-lg;

  @include element('gravatar') {
    width: 150px;
    height: 150px;
    margin: 0 auto $margin-lg;
  }
}
