/**
 * components/_forms.scss
 */

/* ==========================================================================
   Forms
   ========================================================================== */


input, textarea {
  font-size: $font-lg;
  font-weight: 200;
  letter-spacing: 3px;
  border: none;
  margin: 0 auto $margin-sm auto;
  padding: ($padding-md - $padding-xs) $padding-lg;
  background: $color-brand-primary3;
  color: $color-white;
  text-align: center;
}
textarea {
  resize: none;
  text-align: initial;
  text-transform: initial;
  height: 10rem;
}

.form-group {
  margin-bottom: $margin-md;

  .message--error:empty {
    display: none;
  }

  &.has-error {
    input {
      border-bottom: 2px solid $color-brand-danger;
    }
    .message--error {
      display: block;
      color: $color-brand-danger
    }
  }
}


@include bp-more-than ($medium-screen-min) {

  .form-group{
    &.has-error {
      input{
        border-color: $color-brand-danger;
      }
    }
  }

  input[type=text],
  input[type=email],
  textarea {
   // background: $color-gray-darker;
    color: $color-white;;
    //border: none;
    font-size: $font-xl * 1.2;
    //min-width: 0;
    width: 26rem;
    padding: 10px 20px;
  }
}

