/**
 * components/_overvie-page.scss
 */

/* ==========================================================================
   Overview page
   ========================================================================== */

.overview {

  @include element('hero') {
    margin-bottom: $margin-lg;
  }

  @include element('award-image') {
    width: 120px;
    margin: $margin-md auto;
    display: block;
  }

  @include element('preview') {
    padding-left: 0;
    list-style: none;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $margin-md;

    $image-transition: opacity;

    img {
      width: 100%;
      height: auto;
      border: 1px solid $color-black;
      opacity: 1;
      &:hover {
        @include transition($image-transition);
        opacity: .9;
      }
    }

    @include bp-more-than ($medium-screen-min) {

      grid-template-columns: 1fr 1fr 1fr;

      li {
        &:last-child {
          display: none;
        }
      }
    }

    @include bp-more-than ($large-screen-min) {

      grid-template-columns: 1fr 1fr 1fr 1fr;

      li {
        &:last-child {
          display: block;
        }
      }
    }
  }

  @include element('work') {
    margin-bottom: $margin-lg;
  }

  @include element('photography') {
    margin-bottom: $margin-lg;
  }

  @include element('code') {
    margin-bottom: $margin-lg;
    text-align: center;

    li {
      margin-bottom: $margin-lg;
    }
    span {
      display: block;
      font-size: $font-md * 2;
      color: $color-gray-light;
    }

    small {
      font-size: $font-sm;
      display: block;
    }
  }
}
