/**
 * components/_paginarion.scss
 */

/* ==========================================================================
   Pagination
   ========================================================================== */

.pagination {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.pagination > li {
  display: inline;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: $color-gray-light;
  font-size: $font-xs;
  color: $color-white;

  &:last-child {
    margin-right: 0;
  }
}

.pagination > li > a,
.pagination > li > span {
  text-decoration: none;
  background: var(--color-brand-primary5);
  border: var(--Button-border-width) solid var(--color-brand-primary5);
  color:$color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 46px;
  height: 46px;
  font-weight: 300;
  transition: background-color 100ms ease-out 100ms;
  border-radius: 50%;

  &:hover {
    background-color: color($color-brand-primary1 alpha(-30%));
  }
}

.pagination > li.active {
  font-weight: 700;
  color: $color-white;
  background-color: $color-brand-primary5;
}

.pagination > li.disabled {
  display: none;
}
