/**
 * generic/_root.scss
 */

/* ==========================================================================
   Root elements
   ========================================================================== */

/* Viewport
   ========================================================================== */

@-ms-viewport { width: device-width; }
@viewport { width: device-width; }

/* html
   ========================================================================== */

/**
 * Reference:
 * https://css-tricks.com/rems-ems/
 */

:root { font-size: 16px; }
