/**
 * objects/_module.scss
 */

/* ==========================================================================
   Module
   ========================================================================== */

.module {
  margin-bottom: $margin-lg;

  &:last-child {
    margin-bottom: $margin-lg * 2;
  }

  //TODO: doesn't belong here
  p {
    letter-spacing: 1px;
    text-align: center;
  }
}


//
//@media (min-width: $medium-screen-min) {
//  .module {
//    margin-bottom: $margin-lg;
//  }
//}
//
//@media (min-width: $large-screen-min) {
//  .module {
//    max-width: $large-screen-max;
//    margin-left: auto;
//    margin-right: auto;
//  }
//}
