/**
 * settings/_breakpoints.scss
 */

/* ==========================================================================
   Breakpoints
   ========================================================================== */

/**
 * Based on a :root font-size of 16px
 */


// Small screens
$small-screen-min: 34em !default;
$small-screen-max: 47.9em !default;

// Medium screens
$medium-screen-min: 48em !default;  // 768px
$medium-screen-max: 61.9em !default;

// Large screens
$large-screen-min: 62em !default;
$large-screen-max: 74.9em !default;

// Extra large screens
$extra-large-screen-min: 75em !default;
