///*------------------------------------*\
//    #GLOBAL
//\*------------------------------------*/


// margin
$default-margin: 20px;

// padding
$default-padding: 20px;

$margin-zero: 0;
$margin-xs: 0.25rem;
$margin-sm: 0.5rem;
$margin-md: 1rem;
$margin-lg: 2rem;
$margin-xl: 3rem;

$padding-zero: 0;
$padding-xs: 0.25rem;
$padding-sm: 0.5rem;
$padding-md: 1rem;
$padding-lg: 2rem;
$padding-xl: 3rem;

$brand-round: 3px;
$base-round: $brand-round;
