/**
 * base/_links.scss
 */

/* ==========================================================================
   Links
   ========================================================================== */

/* Default
   ========================================================================== */


a {
  color: $color-links;

  @include attention() {
    text-decoration: none;
  }

}

//.link-secret {
//  color: inherit;
//  @include font-weight(regular);
//
//  @include attention() {
//    color: $color-links;
//    text-decoration: none;
//  }
//
//}




//
//a {
//  text-decoration: none;
//  color: $color-links;
//  border-bottom: 1px solid;
//  border-bottom-color: currentColor;
//  transition: color $base-transition-duration $base-transition-easing, border-bottom $base-transition-duration $base-transition-easing;
//
//  // These are here for FireFox's benefit because sanitize-css does some funny things...
//  cursor: pointer;
//  cursor: hand;
//
//  &:hover,
//  &:active,
//  &:focus { border-bottom-color: currentColor; }
//
//  &:active,
//  &:focus { outline: none; }
//}
