/**
 * base/_typography.scss
 */

/* ==========================================================================
   Typography
   ========================================================================== */

/* Body
   ========================================================================== */

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased; // Don't do this: http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  color: $base-font-color;





}

/* Headings
   ========================================================================== */

/**
 * Defaults
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $display-heading;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  line-height: 1.167; // Tighten line-height up for headings
  color: $base-heading-color;
}

h4,
h5,
h6 {
  font-family: $sub-heading;
}

/**
 * Sizes
 *
 * Based on:
 *   :root font-size = 1em/16px
 *   body font-size = 1rem/16px
 */

h1 { font-size: 1.875rem; } // 30px
h2 { font-size: 1.625rem; } // 26px
h3 { font-size: 1.375rem; } // 22px
h4 { font-size:  1.25rem; } // 20px
h5 { font-size: 1.125rem; } // 18px
h6 { font-size: 1rem; } // 16px


/**
 * Margins
 */

// Three quarters the height of the font-size
h1 { margin: 0 0 0.75em; }
h2 { margin: 0 0 0.75em; }

// The height of the font size
h3 { margin: 0 0 1em; }

// 1.5 times the height of the font-size
h4,
h5,
h6 {
  margin: 0 0 1.5em;
}


/**
 * Letter spacing
 */

h1,
h2 { letter-spacing: 0.2em }
h3 { letter-spacing: 0.16em }
h4,
h5,
h6 {
  letter-spacing: 1px;
  font-weight: 700;
}



/* General
   ========================================================================== */

/* Paragraphs */

p { margin: 0 0 2em; } // Twice the height of the font size

strong,
b { font-weight: bold; }

em { font-style: italic; }

/* Blockquotes */

//blockquote {
//  font-family: $display-heading;
//  font-weight: normal;
//  font-size: 1.538em; // 20px
//  line-height: 1.286; // 36px
//  text-transform: uppercase;
//  padding: 0;
//  margin: 1em 0;
//
//  // Inherit blockquote styles
//  p,
//  cite {
//    font-size: inherit;
//    line-height: inherit;
//  }
//
//  // Media queries
//  @include bp-more-than($large-screen-min) {
//    font-size: 2.154em; // 28px
//  }
//}

/* Horizontial rules */

hr {
  border-bottom: 1px solid $color-black;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 2rem 0;
}
